.navbar-inverse {
  background-color: #3a2510;
}

.navbar-inverse .navbar-nav > li > a {
  color: #e4cfba;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #573a1c;
}

.dropdown-menu > li > a:hover {
  background-color: #e4cfba;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #573a1c;
}

.category-page {
  background-color: #e4cfba;
  color: #3a2510;
}

.description {
  margin-bottom: 1em;
}

.jumbotron {
  background: #debd9d;
  color: #3a2510;
  padding-bottom: 80px;
}
.jumbotron p {
  color: #3a2510;
  max-width: 75%;
  margin: 1em auto 2em;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background: #b01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}
