<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <% include ../partials/nav.ejs %>

    <div class="container">
      <h2><%= category.name %></h2>

      <div class-"description"><%= category.description %></div>

      <img src="/img/<%=category.image%>.jpg" />
    </div>
  </body>
</html>
