<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Ionic CS Deep Linking Demo Page</h1>
    <p>This is a demo application that is being used to handle the web end of the deep linking.</p>
  </div>
</div>
<div class="container">
  <!-- TODO: add more information here -->
</div>


</body>
</html>
